html, .root {
    font-size: 21px;
    line-height: 32px;
  }

body {
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.portfolio {
    overflow: hidden;
}

.display-none {
    display: none;
}

.desktop-hidden {
    display: none;
}

h2 {
    font-family: "Dancing Script", cursive;
    font-size: 1em;
    color: white;
    width: 15vw;
    height: 5vh;
    background-color: #43A3FF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50vw - 7.5vw);
    z-index: 1000;
}

button {
    font-family: "Dancing Script", cursive;
    font-size: 1em;
    color: white;
    width: 8vw;
    height: 5vh;
    background-color: #43A3FF;
    border-style: none;
    cursor: pointer;
}

a:visited {
    color: inherit;
}

h3 {
    font-weight: 300;
    font-size: 1.5em;
}

h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
}

p {
    font-weight: 300;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

span {
    font-size: 0.7em;
    line-height: 1.2em;
}

a {
    text-decoration-line: none;
    text-decoration: none;
}


/* Side navigation menu */
.side-navigation.nav-elem {
    height: 100vh;
    width: 0; /* Change this with JavaScript */
    position: fixed; 
    z-index: 1000000000;
    top: 0; 
    right: 0;
    background-color: #111;
    overflow-x: hidden; 
    transition: 0.5s;
}

.side-navigation.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5em;
    font-family: "Dancing Script", cursive;
}

.side-navigation.container a{
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    padding: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.side-navigation.container a.close-button{
    position: relative;
    font-size: 2.5em;
    padding-top: 0;
    padding-bottom: 10vh;
}


/* Styles for header element */

/* Styles for top bar in header */
header {
    height: 100vh;
    width: 100vw;
}

.top-bar {
    padding: 5vh;
    position: relative;
    z-index: 1000;
    width: 100vw;
    box-sizing: border-box;
}

.top-bar.home {
    height: 40vh;
    -webkit-box-shadow: inset 0px 34vh 33vh -22vh rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 34vh 33vh -22vh rgba(0,0,0,0.75);
    box-shadow: inset 0px 34vh 33vh -22vh rgba(0,0,0,0.75);
}

.logo{
    z-index: 1001;
    width: 15vh;
    height: 15vh;
    position: relative; 
    float: left;
}

.menu, .en {
    position: relative;
    float: right;
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
    cursor: pointer;
}

/* Styles for paralax effect in header */
.paralax {
    position: absolute;
}

.trees{
    width: 100vw;
    height: 110vh;
    z-index: 999;
    background-size: 103vw 125vh;
    background-image: url("../img/drzewa_pierwszy_plan.png");
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.trees-background{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/drzewa_tlo.png");
    background-size: 80%;
    z-index: 998;
    position: absolute;
    background-repeat: repeat-x;
}

.shadow-hover { /* For shadow effect after hover on mouse */
    width: 21vw;
    height: 21vw;
    border-radius: 50%;
    margin: auto;
    z-index: 10000000000;
    transition: box-shadow 0.4s linear;
    border: none;
}

.header-hidden {
    display: none;
    visibility: hidden; 
}

.header-visible {
    display: flex;
    visibility: visible;
}

.header-wrap {
    position: absolute;
    top: 45vh;
    opacity: 0;
}

.header-wrap a {
    display: flex;
    flex-direction: column;
}

.header-hover.container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.5s;
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1145', endColorstr='#0b1145', GradientType=0 );*/
}

.header-hover.image {
    width: auto;
    height: 20vh;
    align-self: center;
}


.header-hover.description {
    font-size: 2.5em;
    font-family: "Dancing Script", cursive;
    color: white;
    position: relative;
    background-color: transparent;
    left: 0;
    text-decoration-line: none;
}

/* Styles for "dlaczego ja" sektion */

.dlaczego-ja {
    margin-top: 10vh;
    height: 115vh;
    width: 100vw;
    
}

.dlaczego-ja h2 {
    left: 0;
}

.dlaczego-ja-container{
    box-sizing: border-box;
    padding: 2vw;
}


.dlaczego-ja-wrapper {
    width: 100%;
    height: 32vh;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.dlaczego-ja-paragraph {
    text-align: center;
    width: 25%;
}

.dlaczego-ja-pierwsze {
    width: 30%;
    font-weight: 300;
    text-align: center;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dlaczego-ja_pierwsze p{
    width: 100%; 
}

.dlaczego-ja-pierwsze h3 {
    float: left;
}

/* Styles for video section */

.video {
    background-image: url("../img/drzewa_tlo2.png");
    background-size: 100%;
    background-color: black;
    height: 100vh;
}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.video-iframe {
    width: 45vw;
    height: 60%;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iframe-inner {
    border: white solid 1vw;
    background-color: black;
}

.video-description {
    color: white;
    margin-top: 2vh;
}

.video-arrows {
    width: 25vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-arrows.left {
    justify-content: flex-start;
}

.video-arrows.right {
    justify-content: flex-end;
}

.video-arrows img {
    width: 4vw;
}

/* Styles for portfolio section */

.portfolio {
    position: relative;
    
}

.left-nav-portfolio {
    position: absolute;
    height: 100%;
    width: 5vw;
    display: flex;
    left: 0;
    justify-content: center;
    z-index: 10000;
}

.right-nav-portfolio {
    position: absolute;
    height: 100%;
    width: 5vw;
    display: flex;
    right: 0;
    justify-content: center;
    z-index: 10000;
}

.slide-portfolio {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    height: 85vh;
}

.portfolio-image {
    width: 50vw;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.portfolio-image img {
    height: auto;
    width: 100%;
}

.portfolio-text {
    background-color: #fff;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-text div {
    width: 50%;
}

.portfolio-link {
    cursor: pointer;
    display: block;
    z-index: 100;
}

/* Styles for slider portfolio */
.portfolio-animate-section {
    opacity: 0.4;
    transform: scale(0.7);
    transition: all linear 1s;
}

.active .portfolio-text, .active .portfolio-image {
    transition: all linear 1s;
    z-index: 102;
}


.shadowed-border .portfolio-image, .shadowed-border .portfolio-text {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.no-transition > * {
    transition: none;
}

.portfolio .stay-relative {
    position: relative;
}

.inactive .portfolio-text {
    transform: translateX(-50vw);
}

.inactive .portfolio-image {
    transform: translateX(50vw);
}

/* End of slider styles */

.zakres-prac-image.container {
    width: 50vw;
    display: block;
}

.zakres-prac-image.inner {
    width: 100%;
    height: 100%;
}

.zakres-prac-text.container {
    background-image: url("../img/zakres_prac_tlo.jpg");
    background-size: 105%;
    width: 50vw;
}

.zakres-prac-text.paragraph-container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2vw;
}

.zakres-prac-text.paragraph {
    width: 70%;
}

.daj-znac-banner {
    font-family: "Dancing Script", cursive;
    font-size: 2em;
    color: white;
    width: 30vw;
    height: 7vh;
    background-color: #43A3FF;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3vw;

}

footer {
    display: flex;
}

.prefix {
    font-size: 0.5em; 
}

.telephone-number {
    color: black;
    text-decoration-line: none;
    font-weight: 300;
    font-size: 3em;
    width: 70%;
    padding-top: 3vw;
}


/* Styles for bottom navigation */

nav {
    display: flex;
}

.contact-bottom.container {
    width: 40vw;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact-bottom a {
    text-decoration-line: none;
    color: gray;
    margin: 1vw;
}

.navigation-bottom {
    width: 42vw;
    margin: 1vw;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navigation-bottom a {
    margin: 1vw;
    text-decoration-line: none;
}

.navigation-bottom a:link {
    color: gray;
}

.up {
    font-family: "Dancing Script", cursive;
    font-size: 2em;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
}

.up-text {
    text-decoration-line: none;
    color: inherit;
}

.up-arrow {
    height: auto;
    max-width: 25px;
}