section, nav {
    overflow-x: hidden;
}

.desktop-hidden {
    display: flex;
}

.tablet-hidden {
    display: none !important;
}

.mobile-visible {
    display: flex;
}

h2 {
    width: 30vw;
    font-size: 1.5em;
    left: calc(50vw - 15vw);
}

p {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.top-bar {
    padding: 3vw;
}

.logo {
    width: 20vw;
    height: 20vw;
}

.menu, .en {
    width: 10vw;
    height: 10vw;
}

.trees-background {
    height: 100vh;
    background-size: cover;
}

.trees {
    background-size: cover;
    background-position-x: center;
    height: 115vh;
}

.dlaczego-ja {
    margin-top: 0;
    height: auto;
}

.dlaczego-ja-container {
    box-sizing: border-box;
    padding: 5%;
}

.dlaczego-ja-wrapper {
    height: auto;
}

.dlaczego-ja-pierwsze {
    width: 65%;
    box-sizing: border-box;
    padding: 10vw 5vw 5vw 5vw;
}

.dlaczego-ja-pierwsze h3 { 
    box-sizing: border-box;
    padding-bottom: 2vh;
}

.dlaczego-ja-paragraph {
    width: 60%;
    box-sizing: border-box;
}

.dlaczego-ja-images {
    height: auto;
    box-sizing: border-box;
    padding: 3% 5%;
    max-width: 30%;
}

.dlaczego-ja-last-image {
    width: 35%;
    padding: 3% 2%;
}

.dlaczego-ja-last-paragraph {
   width: 55%;
}

.video, .video-container {
    height: auto;
}

.video-iframe {
    width: 80%;
    height: 40vh;
    box-sizing: border-box;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.video-arrows img {
    width: 10vw;
}

.slide-portfolio {
    height: auto;
}

button {
    width: 50%;
    font-size: 1.5em;
    height: 4vh;
}

.portfolio-text div {
    width: 60%;
}

footer {
    flex-direction: column;
}

.zakres-prac-image.container {
    width: 100vw;
}

.zakres-prac-text.container {
    background-size: cover;
    width: 100vw;
}

.zakres-prac-text.paragraph-container {
    box-sizing: border-box;
    padding: 6vh 0;
}

.daj-znac-banner {
    width: 90vw;
    height: 9vh;
    font-size: 2em;
}

.telephone-number {
    font-size: 3em;
    width: 80%;
    box-sizing: border-box;
    padding: 6vw 0;
}

.up {
    width: 100vw;
    box-sizing: border-box;
    padding: 4vw 0;
}

/* For portfolio-template.css - top bar, header, bottom nav in subpages */

.section-portfolio {
    width: 100vw !important;
}

.top-bar.portfolio {
    height: 20vh;
    padding: 2vw;
}

header.portfolio {
    height: 80vh;
}

.big-image {
    height: 60vh;
    width: auto;
}

.big-image img {
    height: 100%;
    left: -10vw;
    position: relative;
    width: auto;
}

.top-bar.portfolio.project-navigation {
    height: 20vh;
    padding: 5vw;
}

.container.project-prev {
    width: 25vw;
    display: flex;
    justify-content: flex-start;
}

.container.project-text {
    width: 50vw;
}

.container.project-next {
    width: 25vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Dove subpage */

.dove-section.introduction {
    height: auto;
}

.dove-container.introduction {
    width: auto;
    height: auto;
}

.dove-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dove-section {
    height: auto;
}

.dove-images.introduction {
    width: 90%;
}

.dove-section.press {
    height: auto;
}

.dove-images.press {
    margin: 4vw;
    width: 90%;
}

/* Reebok subpage */

.project-pictures.column-grid {
    overflow: hidden;
}

.project-pictures.row-grid.biegownik {
    height: auto;
    padding: 2vh 0;
}

.project-pictures.image.biegownik {
    height: 20vw;
}

.project-pictures.row-grid.biegownik.banner {
    height: auto;
}

.project-pictures.container.biegownik {
    height: auto;
}

/* Radox subpage */

.radox-container {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.images {
    height: auto;
    width: 100%;
}

.table-of-content {
    width: 100%;
}

/* Miasto Dzieci subpage */

.miasto-dzieci-images {
    width: 100%;
    height: auto;
    padding: 2vh 0;
}

.miasto-dzieci-section.ad-tablet {
    height: auto;
}

.miasto-dzieci-section {
    height: auto;
}

/* Lierac subpage */

.lierac-images {
    width: 100%;
    height: auto;
}

.lierac-section.liftissime {
    height: auto;
}

h2.lierac-titles {
    padding: 5vh 0;
}

.lierac-section {
    height: auto;
}
