html, .root {
    font-size: 21px;
    line-height: 32px;
  }

body {
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

body div#overlay {
    display: none;
    height: 100000%;
    width: 100000%;
    position: absolute;
    top: 0;
    left: 0;
}

h2 {
    font-family: "Dancing Script", cursive;
    font-size: 1em;
    color: white;
    width: 15vw;
    height: 5vh;
    background-color: #43A3FF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50vw - 7.5vw);
}

button {
    font-family: "Dancing Script", cursive;
    font-size: 1em;
    color: white;
    width: 8vw;
    height: 5vh;
    background-color: #43A3FF;
    border-style: none;
}

h3 {
    font-weight: 300;
    font-size: 1.5em;
}

h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
}

p {
    font-weight: 300;
    padding-top: 1vw;
    padding-bottom: 1vw;
}


/* Side navigation menu */
nav.side_navigation {
    height: 100vh; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000000000; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

nav.side_navigation div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
}

nav.side_navigation div a{
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    padding: 1em;
}

nav.side_navigation div a.close_button{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
}

header {
    height: 100vh;
}

header div.top_bar {
    padding-top: 2vh;
    position: relative;
    z-index: 1000;
    width: 100vw;
    height: 40vh;
    -webkit-box-shadow: inset 0px 34vh 33vh -22vh rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 34vh 33vh -22vh rgba(0,0,0,0.75);
    box-shadow: inset 0px 34vh 33vh -22vh rgba(0,0,0,0.75);
}

header div h1 img.logo{
    margin-left: 2vw;
    z-index: 1001;
    width: 15vh;
    height: 15vh;
    position: relative; 
    float: left;
}

header div.top_bar a img {
    position: relative;
    float: right;
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
}

header div.paralax {
    position: absolute;
}

header div.paralax div.trees{
    width: 100vw;
    height: 110vh;
    z-index: 999;
    background-size: 103vw 125vh;
    background-image: url('img/drzewa_pierwszy_plan.png');
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

header div.paralax div.trees-background{
    width: 100vw;
    height: 100vh;
    background-image: url('img/drzewa_tlo.png');
    background-size: 110%;
    z-index: 998;
    position: absolute;
    background-repeat: no-repeat;
}

.paralax div {
	background-position: center center;
    background-size: cover;
}

header div.paralax div.shadow_hover {
    width: 21vw;
    height: 21vw;
    border-radius: 50%;
    margin: auto;
    z-index: 10000000000;
    transition: box-shadow 0.4s ease-out;
    border: hidden;
    outline: hidden;
}

header div.paralax div.shadow_hover {
    transition: box-shadow 0.4s ease-out;
}

header div.paralax div.shadow_hover div.shadow_hover:hover {
    -webkit-box-shadow: inset 0px 0vh 9vh 6vh rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0vh 9vh 6vh rgba(0,0,0,0.75);
    box-shadow: inset 0px 0vh 9vh 6vh rgba(0,0,0,0.75);
}

header div.paralax div.shadow_hover:hover {
    -webkit-box-shadow: 0px 0vh 100vh 400vh rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0vh 100vh 400vh rgba(0,0,0,0.75);
    box-shadow: 0px 0vh 100vh 400vh rgba(0,0,0,0.75);
}

header div.shadow {
    width: 50vw;
    height: 50vw;
    margin: auto;
}

section.dlaczego_ja {
    margin-top: 10vh;
    height: 115vh;
    width: 100vw;
}

section.dlaczego_ja h2 {
    left: 0;
}

section.dlaczego_ja div{
    padding-top: 3vh;
    margin-bottom: 1vh;
}


section.dlaczego_ja div div {
    width: 100%;
    height: 32vh;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

section.dlaczego_ja div div p {
    text-align: center;
    width: 25%;
}

section.dlaczego_ja div div div.dlaczego_ja_pierwsze{
    width: 26%;
    font-weight: 300;
    text-align: center;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.dlaczego_ja div div div.dlaczego_ja_pierwsze p{
    width: 100%;
    
}

h3.dlaczego_ja {
    float: left;
}

section.video {
    background-color: grey;
    height: 100vh;
}

section.portfolio section {
    display: flex;
    flex-direction: row;
}

footer.zakres_prac {
    display: flex;
    flex-direction: row;
}

div.portfolio_image {
    width: 50vw;
    display: block;
}

div.portfolio_image img {
    height: 100%;
}

div.zakres_prac_image {
    width: 50vw;
    display: block;
}

div.zakres_prac_image img {
    width: 100%;
    height: 100%;
}

div.portfolio_text {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.portfolio_text div {
    width: 50%;
}

div.zakres_prac_text {
    background-image: url('img/zakres_prac_tlo.jpg');
    background-size: 105%;
    width: 50vw;
}

div.zakres_prac_text div {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2vw;
}

div.zakres_prac_text p {
    width: 70%;
}

a.daj_znac_baner {
    font-family: "Dancing Script", cursive;
    font-size: 2em;
    color: white;
    width: 30vw;
    height: 7vh;
    background-color: #43A3FF;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3vw;

}

footer {
    display: flex;
    flex-direction: row;
}

footer div.portfolio_image img {
    width: 100%;
    height: 100%;
}

footer span {
    font-size: 0.5em; 
}

footer h4 a {
    color: black;
    text-decoration-line: none;
    font-weight: 300;
    font-size: 3em;
    width: 70%;
    padding-top: 3vw;
}

nav {
    display: flex;
    flex-direction: row;
}

nav div.contact_bottom {
    width: 40vw;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav div.contact_bottom a {
    text-decoration-line: none;
    color: gray;
    margin: 1vw;
}

nav div.navigation_bottom {
    width: 40vw;
    margin: 1vw;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav div.navigation_bottom a {
    margin: 1vw;
}

nav div.do_gory {
    font-family: "Dancing Script", cursive;
    font-size: 2em;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
}

nav div.do_gory img {
    height: auto;
    max-width: 25px;
}