html, .root {
    font-size: 21px;
    line-height: 32px;
  }

body {
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

h2 {
    font-family: "Dancing Script", cursive;
    font-size: 1em;
    color: white;
    width: 15vw;
    height: 5vh;
    background-color: #43A3FF;
    display: flex;
    align-items: center;
}

h2 span {
    align-self: center;
}

h2:first-of-type {
    float: left;
}

h3 {
    font-size: 1.5em;
}

header {
    height: 100vh;
}

header div.top_bar {
    padding-top: 2vh;
    position: relative;
    z-index: 1000;
    width: 100vw;
    height: 40vh;
    -webkit-box-shadow: inset 0px 34vh 33vh -22vh rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 34vh 33vh -22vh rgba(0,0,0,0.75);
    box-shadow: inset 0px 34vh 33vh -22vh rgba(0,0,0,0.75);
}

header div h1 img.logo{
    margin-left: 2vw;
    z-index: 1001;
    width: 15vh;
    height: 15vh;
    position: relative; 
    float: left;
}

header div.top_bar a img {
    position: relative;
    float: right;
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
}

header div.paralax {
    position: absolute;
}

header div.paralax div.trees{
    width: 100vw;
    height: 110vh;
    z-index: 999;
    background-size: 110vw;
    background-image: url('img/drzewa_pierwszy_plan.png');
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

header div.paralax div.trees-background{
    width: 100vw;
    height: 100vh;
    background-image: url('img/drzewa_tlo.png');
    background-size: 110%;
    z-index: 998;
    position: absolute;
    background-repeat: no-repeat;
}

.paralax div {
	background-position: center center;
    background-size: cover;
}

header div.paralax div.shadow_hover {
    width: 21vw;
    height: 21vw;
    border-radius: 50%;
    margin: auto;
    z-index: 10000000000;
    transition: box-shadow 0.4s ease-out;
    border: hidden;
    outline: hidden;
}

header div.paralax div.shadow_hover {
    transition: box-shadow 0.4s ease-out;
}

header div.paralax div.shadow_hover div.shadow_hover:hover {
    -webkit-box-shadow: inset 0px 0vh 9vh 6vh rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0vh 9vh 6vh rgba(0,0,0,0.75);
    box-shadow: inset 0px 0vh 9vh 6vh rgba(0,0,0,0.75);
}

header div.paralax div.shadow_hover:hover {
    -webkit-box-shadow: 0px 0vh 75vh 100vh rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0vh 75vh 100vh rgba(0,0,0,0.75);
    box-shadow: 0px 0vh 75vh 100vh rgba(0,0,0,0.75);
}

header div.shadow {
    width: 50vw;
    height: 50vw;
    margin: auto;
}

section.dlaczego_ja {
    margin-top: 10vh;
    height: 115vh;
    width: 100vw;
}

section.dlaczego_ja div div {
    width: 100%;
    height: 32vh;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

section.dlaczego_ja div div p {
    width: 25%;
    text-align: center;
}

section.dlaczego_ja div div div.dlaczego_ja_pierwsze{
    width: 26%;
    font-weight: 300;
    text-align: center;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section.dlaczego_ja div div div.dlaczego_ja_pierwsze p{
    width: 100%;
    
}

h3.dlaczego_ja {
    float: left;
}

section.video {
    background-color: grey;
    height: 100vh;
}