@import url("../main.css");
/* Styles for top-bar bottom-bar and header with navigation */
@import url("../portfolio/portfolio-template.css");


.dove-section {
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    padding: 2.5vw;
}

.dove-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.dove-section.introduction {
    height: auto;
}

.dove-container.introduction {
    height: 50%;
}

.dove-section.press {
    height: auto;
}

.dove-images {
    box-sizing: border-box;
    margin: 2.5vw;
    width: 100%;
    height: auto;
    align-self: center;
}

.dove-images.introduction {
    width: 50%;
}

.dove-images.press {
    margin: 5vh 2.5vw;
}