@import url("../main.css");
@import url("../portfolio/portfolio-template.css");

.miasto-dzieci-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 4vw;
    box-sizing: border-box;
}

.miasto-dzieci-images {
    width: auto;
    height: 100%;
    box-sizing: border-box;
}

.miasto-dzieci-section.ad-tablet {
    height: 150vh;
}